<h1>Welcome to CSE Motors!</h1>
<div class="figure">
    <div class="card">
        <h4>DMC Delorean</h4>
        <dl>
            <dt>3 Cup holders</dt>
            <dt>Superman doors</dt>
            <dt>Fuzzy dicel</dt>
            <dd></dd>
        </dl>
        <img src="/images/site/own_today.png" alt="own today">
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="delorean car">
</div>
<div class="lower">
    <div>
        <h3>Delorean Upgrades</h3>
        <div class="features">
            <div class="gridview">
                <img src="/images/upgrades/flux-cap.png" alt="flux cap">
                <label>Flux Capacitor</label>
            </div>
            <div class="gridview">
                <img src="/images/upgrades/flame.jpg" alt="flame decal">
                <label>Flame Decals</label>
            </div>
            <div class="gridview">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
                <label>Bumper Sticker</label>
            </div>
            <div class="gridview">
                <img src="/images/upgrades/hub-cap.jpg" alt="hub cap">
                <label>Hub Caps</label>
            </div>
        </div>
    </div>
    <div>
        <h3>DMC Delorean Reviews</h3>
        <dl>
            <dt>• "So fast it's almost like travelling in time." (4/5)</dt>
            <dt>• "Coolest on the road." (4/5)</dt>
            <dt>• "I'm feeling Mcfly." (5/5)</dt>
            <dt>• "The most futuristic ride of our day." (4.5/5)</dt>
            <dt>• "80's livin and I love it!" (5/5)</dt>
            <dd></dd>
        </dl>
    </div>
</div>        